.Container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  .Scroller {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    .IconWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        
    }
  }
}
