.Container {
    border: 2px solid grey;
    border-radius: 1rem;
    justify-items: center;
    align-items: center;
    padding: 1rem;

    .AvatarWrapper {
        border: 2px solid rgb(37, 227, 16);
        display: grid;
        place-content: center;
    }

    .Options {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        justify-content: space-between;

        .OptionElement {
            border: 1px solid rgb(172, 172, 172);
            border-radius: 1rem;
            padding: 0.25rem;
            text-align: center;

            select {
                border: none;
                border-radius: 1rem;
                padding: 0.25rem;
                width: 100%;

                option {
                    padding: 0.25rem;
                    border-top: 1px solid grey;

                    :nth-child(1) {
                        border-top: none;
                    }
                }


            }
        }
    }
}