.Container {
    border: 2px solid grey;
    border-radius: 1rem;
    justify-items: center;
    align-items: center;
    padding: 1rem;

    .AvatarWrapper {
        // border: 2px solid rgb(210, 81, 30);
        display: grid;
        place-content: center;
        margin-bottom: 1rem;
    }

    .Options {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        justify-content: space-between;

        .OptionElement {
            border: 1px solid rgb(172, 172, 172);
            border-radius: 1rem;
            padding: 0.25rem;
            text-align: center;

            select {
                border: none;
                border-radius: 1rem;
                padding: 0.25rem;
                width: 100%;
            }
        }
    }

    .SubmitAvatar {
        color: white;
        align-self: center;
        margin-top: 1rem;
        border: none;
        background-color: grey;
        padding: 0.75rem;
        border-radius: 1.5rem;
    }
}