.Profile {
    position: fixed;
    right: 0.5rem;
    top: 0.5rem;
    border: 1px solid grey;
    border-radius: 1rem;
    background-color: white;
    padding: 1rem;

    li {
        list-style: none;
        padding: 0.5rem;
        border-bottom: 1px solid black;
    }

    a {
        text-decoration: none;
        color: black;
    }
}